body {
    font: normal 14px/1.6em Arial,​Verdana,​sans-serif;
    max-width: 700px;
    margin: 24px auto;
}

h2 {
  margin-top: 62px;
}

.lesson-time {
  display: block;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 30px;
}

video {
    max-width: 700px;
}
